{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
<!-- page.spinner-show -->
<aside aria-labelledby="page-spinner">
  <p>
    {{ componentSpinner({
      "text": "Espera por favor, el contenido principal de la página se está cargando",
      "classes": "fixed inset-0 z-50 h-screen text-6xl text-neutral-base",
      "attributes": {
        "id": "page-spinner"
      }
    })  }}
  </p>
  {# This spinner must be visible for 5 seconds. When new content is loaded, the text must change to "Se ha cargado la página _título de la página_"... After 5 seconds the spinner must dissapear #}
  {# Habría que validar una vez que se carga el contenido, qué anuncia el lector (si se ha previsto algún mensaje de “contenido principal cargado”) y qué elemento coge el foco (puesto que el usuario puede moverse por la página, no debería movérsele el foco). #}
</aside>
<!-- /page.spinner-show -->