<!-- page.foot-headroom -->
<script src="js/headroom.min.js"></script>
<script>
  const modules = document.querySelectorAll('[data-module]');
  for (const item in modules) if (modules.hasOwnProperty(item)) {
    const moduleValue = modules[item].getAttribute('data-module');

    if (moduleValue == 'c-header'){
      const options = {
        // vertical offset in px before element is first unpinned
        offset : 0,
        // scroll tolerance in px before state changes
        tolerance : {
          up : 0,
          down : 0
        },
        // callback when unpinned, `this` is headroom object
        onUnpin : function() {
          // oculta todos los dropdowns que hubiese abiertos en el header
        }
      };
      const headroom = new Headroom(modules[item], options);
      headroom.init();
    }
  }
</script>
<script src="js/popper.min.js"></script>
<script src="js/tippy-bundle.umd.min.js"></script>
<script type="module" src="js/index.js"></script>
</body>
</html>

