{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}
<!-- template.home -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "index.html",
      "mobileTitle": {
        "text": "desy-html-templates"
      },
      "expandedLogo": true,
      "navigation": {
        "items": [
          {
            "href": "index.html",
            "text": "Inicio",
            "active": true
          },
          {
            "href": "#paginas",
            "text": "Páginas"
          },
          {
            "href": "#patrones",
            "text": "Patrones"
          }
          ]
      },
      "offcanvas": {
        "text": "Menu",
        "textClose": "Cerrar menu"
      }
    }) %}
      <nav class="w-full p-2" aria-label="Menú móvil">
        <h3 class="p-base text-base font-bold">Plantillas para desy-html</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-pages",
          "hasNav": false,
          "items": [
            {
              "href": "index.html",
              "text": "Inicio",
              "active": true
            },
            {
              "href": "#paginas",
              "text": "Páginas"
            },
            {
              "href": "#patrones",
              "text": "Patrones"
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
   <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}