{% include "pages/_page.head.njk" %}

{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.with-header-advanced -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeaderAdvanced({
    "title": {
        "homepageUrl": "index.html",
        "text": "DESY"
      },
      "subtitle": {
        "text": "Sistema de Diseño del Gobierno de Aragón."
      },
      "navigation": {
        "items": [
          {
            "href": "#",
            "text": "Inicio",
            "active": true
          },
          {
            "href": "#",
            "text": "Estilos"
          },
          {
            "href": "#",
            "text": "Componentes"
          },
          {
            "href": "#",
            "text": "Plantillas"
          },
          {
            "href": "#",
            "text": "Librerías"
          },
          {
            "href": "#",
            "text": "Soporte"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">DESY</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-pages",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Inicio",
              "active": true
            },
            {
              "href": "#",
              "text": "Estilos"
            },
            {
              "href": "#",
              "text": "Componentes"
            },
            {
              "href": "#",
              "text": "Plantillas"
            },
            {
              "href": "#",
              "text": "Librerías"
            },
            {
              "href": "#",
              "text": "Soporte"
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
