/* ==========================================================================
   custom.css
   ========================================================================== */

@layer base {
  /* Smooth scroll for anchors */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}


@layer components {
  .headroom {
    @apply lg:fixed !important;
    @apply lg:top-0;
    @apply lg:w-full;
    @apply lg:transform;
    @apply lg:transition-transform;
    @apply lg:duration-500;
    @apply lg:z-10;
  }
  .headroom--pinned {
    @apply lg:translate-y-0;
  }
  .headroom--unpinned {
    @apply lg:-translate-y-full;
  }

  .c-anchor-scroll {
    scroll-margin-top: 4rem;
  }

  .c-anchor-scroll-edit {
    scroll-margin-top: 5.375rem;
  }
}