{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
  <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
  {% include "includes/_acciones-siguiente-paso-y-restaurar.njk" %}
</section>