<ul class="flex flex-col-reverse lg:flex-row-reverse flex-wrap gap-sm">
  <li>
    {{ componentButton({
    "text": "Siguiente paso",
    "classes": "c-button--primary"
    })  }}
  </li>
  <li>
    {{ componentButton({
    "text": "Restaurar"
    })  }}
  </li>
</ul>