<ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
  <li>
    {{ componentButton({
    "text": "Acción principal",
    "classes": "c-button--primary"
    })  }}
  </li>
  <li>
    {{ componentButton({
    "text": "Acción secundaria"
    })  }}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Más acciones"
    })  %}
      {{ componentNav({
        "hasNav": false,
        "idPrefix": "mas-acciones-de-pagina",
        "items": [
          {
            "href": "#",
            "text": "Acción terciaria 1"
          },
          {
            "href": "#",
            "text": "Acción terciaria 2"
          },
          {
            "href": "#",
            "text": "Acción terciaria 3",
            "divider": true
          },
          {
            "href": "#",
            "text": "Otras acciones..."
          }
        ],
        "classes": "w-max max-w-64",
        "attributes": {
          "aria-label": "Más acciones"
        }
      })  }}
    {% endcall %}
  </li>
</ul>