{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{{ componentMenubar({
  "id": "actions-table-menubar",
  "idPrefix": "actions-table",
  "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
  "items": [
    {
      "text": "Importar items",
      "ariaLabel": "Importar items",
      "id": "actions-table-item-1",
      "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
      "href": "#"
    },
    {
      "text": "Aceptar",
      "ariaLabel": "Aceptar",
      "id": "actions-table-item-2",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "href": "#"
    },
    {
      "text": "Reenviar",
      "ariaLabel": "Reenviar items seleccionados",
      "id": "actions-table-item-3",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "sub": {
        "items": [
          {
            "role": "menuitem",
            "text": "A una bandeja personal"
          },
          {
            "role": "menuitem",
            "text": "A un organismo"
          }
        ],
        "attributes": {
          "aria-labelledby": "actions-table-item-3"
        }
      }
    }
  ]
})  }}
