{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

<h2 class="sr-only">Búsqueda</h2>
{{ componentSearchbar({
"id": "searchbar-2",
"label": {
  "text": "Buscar"
},
"placeholder": "Buscar item..."
})  }}