{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}

{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}

<div class="border-b border-neutral-dark bg-white">
  <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
    {% set itemId = "1452" %}
    {% set itemText = "Solicitud de autorización de transporte escolar" %}
    {% call componentDetailHeader({
      "breadcrumbs": {
        "items": [
          {
            "text": "Expedientes",
            "href": "/"
          },
          {
            "text": itemId + " - " + itemText
          }
        ]
      },
      "idNumber": itemId,
      "text": itemText + " (h3)",
      "status": {
        "type": "publicado"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs text-sm w-full",
        "items": [
          {
            "href": "#",
            "text": "Resumen"
          },
          {
            "href": "#",
            "text": "Datos",
            "active": true
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-labelledby": itemId
        }
      }
    })  %}
      {{ actions.actionsPublicado | safe }}
    {% endcall %}
  </div>
</div>