<section aria-labelledby="notificaciones">
  <h2 id="notificaciones" class="sr-only">Notificaciones</h2>
  <div role="alert" aria-live="assertive">
    {% include "includes/_error-generico.njk" %}
  </div>      
</section>