<section class="lg:flex lg:flex-wrap lg:w-full mb-sm" aria-labelledby="filtros-y-ordenacion">
  <h2 class="sr-only" id="filtros-y-ordenacion">Filtros y ordenación</h2>
  <div class="lg:flex-1">
    {% include "includes/_menubar-filtro-orden.njk"%}
  </div>
</section>