{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{{ componentMenubar({
  "id": "filter-items",
  "idPrefix": "filter-example",
  "ariaLabel":"Filtrar items de la lista",
  "items": [
    {
      "text": "Ver todo",
      "ariaLabel": "Ver todo",
      "id": "filter-item",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "label": {
        "text": "Este menú filtra la siguiente lista de items",
        "classes": "sr-only"
      },
      "sub": {
        "items": [
          {
            "role": "group",
            "ariaLabel": "Filtrar",
            "items": [
              {
                "role": "menuitemradio",
                "text": "Ver todo",
                "checked": true
              },
              {
                "role": "menuitemradio",
                "text": "Ver servicio"
              },
              {
                "role": "menuitemradio",
                "text": "Ver convocatoria"
              }
            ]
          }
        ]
      }
    }
  ],
  "classes": "c-menubar--last-right"
})  }}