<!-- page.notification-header-mfe -->
<section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full">{# Add aria-hidden="true" and/or role="alert" aria-live-"assertive" when needed #}
  <p id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</p>
  {% include "includes/_notificacion-identificado-correctamente.njk" %}
</section>
<!-- /page.notification-header-mfe -->