{% from "components/notification/_macro.notification.njk" import componentNotification %}

{{ componentNotification({
  "title": {
    "text": "Te has identificado correctamente"
  },
  "description": {
    "text": "Identificado como: SUBSCRIPTOR FICTICIO REPRESENTANTE ESPAÑOL. 00000000T"
  },
  "type": "success",
  "id": "identification-success",
  "isDismissible": true,
  "classes": "c-notification--success mb-base"
})  }}