{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

<section aria-labelledby="ultimos-items" class="mb-lg">
  <h2 id="ultimos-items" class="c-h2 mb-xs">Últimos items</h2>
  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna es posible seleccionar uno o más items pendientes. Puedes seleccionar todos los items pendientes con la casilla de verificación "Seleccionar todo".</p>
        <p>La segunda columna contiene enlaces de acceso a los items.</p>
        <p>Las cabeceras de columna tienen opción de ordenación.</p>
        <p>Puedes realizar acciones sobre los items mediante los botones situados antes de la tabla.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
    <h3 id="acciones-items" class="sr-only">Selección múltiple y Acciones sobre la tabla de items</h3>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-items",
        "name": "todos-items",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todas",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      {% include "includes/_action-bar-ultimos-items.njk" %}
    </div>
  </section>
  {# fin Barra de Acciones #}
  {# Tabla-Listado de items #}
  <div class="max-w-full overflow-x-auto mb-lg">
    {{ componentTableAdvanced({
      "idPrefix": "listado-items",
      "hasCheckboxes": true,
      "caption": "Listado de últimos items pendientes",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Asunto',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Registro',
          "orderBy": "none"
        },
        {
          "html": 'Origen',
          "orderBy": "none"
        },
        {
          "html": 'Remitente',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo con prueba de título muy largo a ver qué pasa con los saltos de línea</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "min-w-full"
    })  }}
  </div>
  {# fin Tabla-Listado de items #}
</section>