<div class="lg:flex lg:flex-wrap w-full">
  <h1 id="page-title" class="c-h1 flex-1">Titulo de página (h1)</h1>
  <div class="lg:order-3 w-full mb-base lg:mb-lg">
    <div class="lg:w-3/4">
      {% include "includes/_buscador-de-pagina.njk" %}
    </div>
  </div>
  {% include "includes/_acciones-de-pagina.njk" %}
</div>