{% set title = "Acceso. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}

{% block contentBlock %}
  <iframe src="mfe-index-clave-sin-faqs-iframe-content.html" frameborder="0" class="w-full"></iframe>
  <div class="mb-xl"></div>
  <h2 class="c-h2">O bien, con usuario y contraseña</h2>
  <p class="c-paragraph-base mb-0">
    Si ya estás registrado en el Titulo de app y todavía no tienes <span aria-label="Clave">Cl@ve</span>.
  </p>
  <p class="c-paragraph-base text-neutral-dark">
    Este método de acceso finalizará el 20 de Agosto del 2022. A partir de ese momento sólo se podrá acceder con <span aria-label="Clave">Cl@ve</span>.
  </p>
  {{ componentButton({
    "text": "Accede con usuario y contraseña"
  })  }}
  <div class="mb-2xl"></div>
  <h2>Si aún no estás registrado:</h2>
  <p class="c-paragraph-base">
    <a href="#" class="c-link">Registra un nuevo usuario</a> con <span aria-label="Clave">Cl@ve</span>.
  </p>
  <hr class="border-t border-neutral-base my-xl">
  <!-- faqs fuera de mfe -->
  {% include "includes/_faqs.njk" %}
  <!-- /faqs fuera de mfe -->
{% endblock %}