{% set title = "Plantillas para desy-html. Gobierno de Aragón" %}
{% extends "pages/_template.home.njk" %}

{% from "components/notification/_macro.notification.njk" import componentNotification %}

{% block contentBlock %}
  <div class="lg:w-3/4">
    <div class="pb-lg"></div>
    {{ componentNotification({
      "title": {
        "text": 'ATENCIÓN: Este proyecto está obsoleto en favor de desy-html y de la sección de plantillas de desy.aragon.es. Mantenemos este proyecto sólo para fines históricos, pero ya no será mantenido.'
      },
      "description": {
        "html": '<ul class="mt-base"><li><a class="c-link" href="https://desy.aragon.es/desy-html">desy-html</a></li><li><a class="c-link" href="https://desy.aragon.es/plantillas.html">Plantillas de desy.aragon.es</a></li>'
      },
      "type": "info",
      "id": "type-info"
    }) }}
    <div class="pb-lg"></div>
    <h1 class="c-h1">Plantillas para desy-html</h1>
    <p class="c-paragraph-base">
      Aqui encontrarás plantillas y ejemplos de páginas, así como patrones o agrupaciones típicos que se utilizan en aplicaciones del Gobierno de Aragón. Este repositorio permite copiar-pegar código para ser utilizado en tus proyectos. Los ejemplos que aquí aparecen han pasado revisiones de accesibilidad, por lo que son seguros para ser utilizados en tus proyectos como punto de partida.
    </p>

    <div class="pb-lg"></div>

    <h2 class="c-h2">Plantillas de página</h2>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="plantilla-sin-loguear.html">Plantilla sin loguear</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-titulo-de-app.html">Plantilla logueado con título de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app.html">Plantilla logueado con selector de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-cabecera-fija.html">Plantilla logueado con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-cabecera-fija-headroom.html">Plantilla logueado con cabecera fija con librería headroom.js</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-editar-con-cabecera-fija.html">Plantilla editar con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-editar-con-cabecera-fija-y-sidebar-sticky.html">Plantilla editar con cabecera fija y sidebar sticky</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app-y-subheader.html">Plantilla logueado con selector de app y subheader</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app-y-sidebar.html">Plantilla logueado con selector de app y sidebar</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-con-header-advanced.html">Plantilla con header advanced</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 class="c-h2">Spinners en plantillas</h2>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-sin-loguear.html">Spinner de página en Plantilla sin loguear</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-titulo-de-app.html">Spinner de contenido en Plantilla logueado con título de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-cabecera-fija.html">Spinner de contenido en Plantilla logueado con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-editar-con-cabecera-fija.html">Spinner de contenido en Plantilla editar con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-selector-de-app-y-subheader.html">Spinner de contenido en Plantilla logueado con selector de app y subheader</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-con-header-advanced.html">Spinner de contenido en Plantilla con header advanced</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 id="paginas" class="c-h2">Páginas</h2>
    <h3 class="c-h3">Páginas de acceso</h3>
    <p class="c-paragraph-base">
      Esto son ejemplos de páginas previas a mostrar la pantalla principal. Muchas de ellas son ejemplos de cómo MFE mustra las páginas de identificación a la aplicación.
    </p>

    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="acceso-como-mfe.html">Acceso como MFE</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="acceso-como-mfe-solo-clave.html">Acceso como MFE sólo <span aria-label="Clave">Cl@ve</span></a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="acceso-como-mfe-con-mas-opciones-y-registro.html">Acceso como MFE con más opciones y registro</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="acceso-cargando.html">Acceso cargando</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="acceso-seleccion-de-organismo.html">Acceso selección de organismo</a>
      </li>
    </ul>
    <h3 class="c-h3">Páginas de inicio</h3>
    <p class="c-paragraph-base">
      Esto son ejemplos de páginas de inicio de la aplicación, tras haberse identificado.
    </p>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="inicio-con-tabla-de-contenidos.html">Inicio con tabla de contenidos</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="inicio-con-tabla-de-contenidos-y-barra-lateral.html">Inicio con tabla de contenidos y barra lateral</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="inicio-con-cards.html">Inicio con cards</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="inicio-con-tabla.html">Inicio con tabla</a>
      </li>
    </ul>
    <h3 class="c-h3">Páginas varias</h3>
    <p class="c-paragraph-base">
      Esto son ejemplos de varios tipos de páginas de una aplicación.
    </p>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="pagina-mapa-web.html">Mapa web</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="pagina-accesibilidad.html">Accesibilidad</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="pagina-navegacion-por-pasos-con-status-items.html">Navegación por pasos con status items</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="pagina-historico-de-item.html">Histórico de item</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="pagina-manual-con-preguntas-frecuentes.html">Manual con preguntas frecuentes</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 id="patrones" class="c-h2">Patrones</h2>
    <p class="c-paragraph-base">
      Esto son ejemplos de agrupaciones de componentes que sirven para fines típicos dentro de las aplicaciones.
    </p>
    <h3 class="c-h3">Inicios de página</h3>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="titulo-con-acciones-de-pagina.html">Titulo con acciones de página</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="titulo-con-acciones-y-buscador-de-pagina.html">Título con acciones y buscador de página</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="titulo-con-pasos-y-boton-de-volver-atras.html">Título con pasos y botón de volver atrás</a>
      </li>
    </ul>
    {#
    <h3 class="c-h3">Tablas</h3>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Tabla simple</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Tabla con acciones</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Tabla avanzada con todo</a>
      </li>
    </ul>
    <h3 class="c-h3">Listados</h3>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Listado de items filtrable</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Listado de items con acciones</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="ejemplo1.html">Listado de KPIs</a>
      </li>
    </ul> #}
  </div>
{% endblock %}