{% set title = "Inicio. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1">Titulo de app</h1>
    <p class="c-paragraph-base mb-lg">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit.
    </p>

    <div class="pb-lg"></div>

    <h2 class="c-h2">Sección A</h2>
    <p class="c-paragraph-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium dolorem aut veritatis libero cumque quo? Accusantium reprehenderit qui magnam quibusdam, provident earum, eligendi soluta adipisci temporibus iste veniam doloribus
    </p>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 id="paginas" class="c-h2">Sección B</h2>
    <h3 class="c-h3">Apartado a</h3>
    <p class="c-paragraph-base">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum nobis architecto facere commodi.
    </p>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>
      </li>
    </ul>
    <h3 class="c-h3">Apartado b</h3>
    <p class="c-paragraph-base">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum nobis architecto facere commodi.
    </p>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>
      </li>
    </ul>

    <h2 id="patrones" class="c-h2">Sección C</h2>
    <h3 class="c-h3">Apartado a</h3>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
      </li>
    </ul>
    <h3 class="c-h3">Apartado b</h3>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
      </li>
    </ul>
    <h3 class="c-h3">Apartado c</h3>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
      </li>
    </ul>
  </div>

{% endblock %}