{% set title = "Página manual con preguntas frecuentes. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="prose">
    <h1>Manual de ayuda</h1>
    <p>Aqui encontrarás las respuestas a las preguntas más frecuentes relativas a la Identificación y a la Firma electrónica en las aplicaciones del Gobierno de Aragón.</p>
  </div>
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-xl">
    <h2 id="manual-identificacion" class="c-h2 group">Identificación <a href="#manual-identificacion" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
    {% include "includes/_faqs-listado.njk" %}
  </div>

  <div class="mb-xl">
    <h2 id="manual-firma-electronica" class="c-h2 group">Firma electrónica <a href="#manual-firma-electronica" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
    {% include "includes/_faqs-listado.njk" %}
  </div>
  <!-- end FAQ -->
  <hr class="border-t border-neutral-base my-xl">
  {% include "includes/_ponte-en-contacto.njk" %}
{% endblock %}