{% set title = "Página histórico de item. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="lg:flex items-start justify-between">
    <h1 class="c-h1 mb-base">Histórico <span class="sr-only">del item: Nombre de item</span></h1>
    {% include "includes/_filtros-y-ordenacion-historico.njk"%}
  </div>
  <ul>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador creado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Cambios publicados"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Cambios enviados a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Cambios realizados"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Publicado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador enviado a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {% call componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "rechazado",
          "text": "Borrador rechazado"
        },
        "date": "20 feb 2020, 09:40",
        "user": {
          "name": "Ana Pérez",
          "email": "ana.perez@gobierno.es"
        }
      })  %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dignissim est. Vestibulum in leo nisi. Morbi eget bibendum nisl. Cras egestas eu eros hendrerit mollis. In elementum ante nec quam bibendum, molestie elementum nisl vehicula. Mauris ornare odio sed nulla vestibulum viverra. Mauris in dui ut odio fringilla placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
          <p>Saludos</p>
      {% endcall %}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador enviado a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador creado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
  </ul>
  {% include "includes/_paginacion.njk" %}
{% endblock %}