{% set title = "Navegación por pasos con status items. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/status-item/_macro.status-item.njk" import componentStatusItem %}

{% block contentBlock %}
  {% include "includes/_titulo-con-pasos-y-boton-de-volver-atras.njk" %}
  <p class="c-paragraph-base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa rerum repellendus, nulla corporis illum at atque accusantium quia, quasi quis totam quaerat, vitae suscipit eius amet, vel earum animi provident.
  </p>
  {% include "includes/_abrir-notificaciones.njk" %}
  <div class="pb-lg"></div>
  <section aria-labelledby="persona-representante" class="mb-2xl">
    <h2 class="c-h3" id="persona-representante">Persona representante</h2>
    <ul>
      <li>
        {% call componentStatusItem({
          "id": "persona-representante-status-item-1",
          "items": [
            {
              "term": {
                "text": "Nombre"
              },
              "definition": {
                "text": "Ana"
              }
            },
            {
              "term": {
                "text": "Apellidos"
              },
              "definition": {
                "text": "Pérez Escribano"
              }
            },
            {
              "term": {
                "text": "Número de identificación"
              },
              "definition": {
                "text": "72882918B"
              }
            }
          ],
          "status": {
            "text": "Completo",
            "icon": {
              "type": "success"
            }
          }
        })  %}
          {{ componentButton({
            "text": "Modificar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
      <li>
        {% call componentStatusItem({
          "id": "persona-representante-status-item-2",
          "items": [
            {
              "term": {
                "text": "Razón social"
              },
              "definition": {
                "text": "Empresa S.L."
              }
            },
            {
              "term": {
                "text": "Correo electrónico"
              },
              "definition": {
                "html": '<a class="c-link" href="mailto:hola@empresa.com">hola@empresa.com</a>'
              }
            }
          ],
          "status": {
            "text": "Completo",
            "icon": {
              "type": "success"
            }
          }
        })  %}
          {{ componentButton({
            "text": "Modificar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
    </ul>
  </section>
  <section aria-labelledby="persona-interesada" class="mb-2xl">
    <h2 class="c-h3" id="persona-interesada">Persona interesada</h2>
    <ul>
      <li>
        {% call componentStatusItem({
          "id": "persona-interesada-status-item-1",
          "items": [
            {
              "term": {
                "text": "Nombre"
              },
              "definition": {
                "html": '<span class="sr-only">Por rellenar</span>'
              }
            },
            {
              "term": {
                "text": "Apellidos"
              },
              "definition": {
                "html": '<span class="sr-only">Por rellenar</span>'
              }
            },
            {
              "term": {
                "text": "Número de identificación"
              },
              "definition": {
                "html": '<span class="sr-only">Por rellenar</span>'
              }
            }
          ]
        })  %}
          {{ componentButton({
            "text": "Rellenar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
      <li>
        {% call componentStatusItem({
          "id": "persona-interesada-status-item-2",
          "items": [
            {
              "term": {
                "text": "Razón social"
              },
              "definition": {
                "text": "Empresa S.L."
              }
            },
            {
              "term": {
                "text": "Correo electrónico"
              },
              "definition": {
                "html": '<span class="sr-only">Por rellenar</span>'
              }
            }
          ],
          "status": {
            "text": "Incompleto",
            "icon": {
              "type": "alert"
            }
          },
          "classes": "border-l-4 border-alert-base"
        })  %}
          {{ componentButton({
            "text": "Rellenar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
    </ul>
  </section>
  <section aria-labelledby="documentos-adicionales">
    <h2 class="c-h3" id="documentos-adicionales">Documentos adicionales</h2>
    <p class="c-paragraph-base">
      Para completar correctamente el trámite es necesario aportar los documentos listados a continuación. La documentación requerida puede variar en función de la información indicada en apartados anteriores.
    </p>
    <ul>
      <li>
        {% call componentStatusItem({
          "id": "documentos-adicionales-status-item-1",
          "title": {
            "text": "Certificado o volante municipal de empadronamiento de la persona interesada"
          }
        })  %}
          {{ componentButton({
            "text": "Aportar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
      <li>
        {% call componentStatusItem({
          "id": "documentos-adicionales-status-item-2",
          "title": {
            "html": 'Autorización para la consulta de datos de las personas de la unidad familiar <a href="#" class="c-link">Descargar modelo</a>'
          },
          "status": {
            "text": "Aportado",
            "icon": {
              "type": "success"
            }
          }
        })  %}
          {{ componentButton({
            "text": "Modificar",
            "classes": "c-button--transparent",
            "href": "/"
          })  }}
        {% endcall %}
      </li>
    </ul>
  </section>
{% endblock %}