{% set title = "Accesibilidad. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="prose">
    <h1>Accesibilidad</h1>
    <p class="text-lg">El Gobierno de Aragón se ha comprometido a hacer accesible su sitio web, de conformidad con el <a href="#">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a>.</p>
    <p class="text-lg">La presente declaración de accesibilidad se aplica al <a href="#">sitio web actual aragon.es</a> (los subdominios de este sitio web tendrán sus propias declaraciones de accesibilidad).</p>
  </div>
  <div class="py-xl"></div>
  <div class="prose">
    <h2>Situación de cumplimiento</h2>
    <p>Este sitio web es parcialmente conforme con el Real Decreto 1112/2018, de 7 de septiembre, debido a las excepciones y falta de conformidad de los aspectos que se indican a continuación.</p>

    <h2>Contenido no accesible</h2>
    <p>Estamos trabajando para que el portal alcance el máximo nivel de accesibilidad, pero algunos contenidos no son todavía plenamente accesibles por las razones que se recogen a continuación.</p>
    <ol>
      <li>
        <h3>Falta de conformidad con el Real Decreto 1112/2018</h3>
        <ul>
          <li>algunas tablas pueden presentar problemas porque están pendientes de adaptar a la nueva normativa [requisito número 9.1.3.1]</li>
          <li>algunas páginas que recogen enlaces de órdenes, decretos, etc. (normativa) tienen una longitud excesiva lo que puede dar problemas relacionados con el propósito de los enlaces [requisito número 9.2.4.4]</li>
          <li>debido al gestor de contenidos empleado en este portal surgen errores en el procesamiento de las hojas CSS [requisitos número 9.1.3.1. y número 9.4.1.1]</li>
        </ul>
        <p>Actualmente contamos con un equipo de revisión que está subsanando estos errores.</p>
        <p>Podrían existir archivos ofimáticos en PDF, u otros formatos, publicados después del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.</p>
        <p>Los archivos ofimáticos en PDF, u otros formatos, vinculados en este portal y que son responsabilidad de terceros, podrían no ser accesibles.</p>
        <p>Los documentos PDF, firmados electrónicamente con anterioridad al 20 de septiembre de 2018, no son accesibles. Si algún ciudadano o ciudadana está interesada en la accesibilidad de alguno de estos documentos, puede solicitarlo a <a href="mailto:portalpublico@aragon.es">portalpublico@aragon.es</a>, y le enviaremos el texto en un documento accesible, a la mayor brevedad.</p>
      </li>
      <li>
        <h3>Carga desproporcionada</h3>
        <p>No aplica.</p>
      </li>
      <li>
        <h3>El contenido no entra dentro del ámbito de la legislación aplicable</h3>
        <p>Podrían existir archivos ofimáticos en PDF, u otros formatos, publicados antes del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.</p>
        <p>Los mapas de ubicación de los organismos podrían no ser plenamente accesibles, pero se incluye junto a los mismos la información esencial de manera accesible.</p>
      </li>
    </ol>

    <h2>Preparación de la presente declaración de accesibilidad</h2>
    <p>La presente declaración fue preparada el 24/05/2019 tras una auditoría externa mediante evaluación manual y automática de las páginas a las que aplica.</p>

    <p>Última revisión de la declaración: 24/01/2020.</p>

    <h2>Observaciones y datos de contacto</h2>
    <p>Puede realizar comunicaciones sobre requisitos de accesibilidad (artículo 10.2.a) del Real Decreto 1112/2018, de 7 de septiembre) como, por ejemplo:</p>
    <ul>
      <li>Informar sobre cualquier posible incumplimiento por parte de este sitio web.</li>
      <li>Transmitir otras dificultades de acceso al contenido.</li>
      <li>Formular cualquier otra consulta o sugerencia de mejora relativa a la accesibilidad del sitio web.</li>
    </ul>

    <p>A través de las siguientes vías:</p>
    <ul>
      <li>Correo electrónico: <a href="mailto:portalpublico@aragon.es">portalpublico@aragon.es</a>.</li>
      <li><a href="#">Trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón.</li>
      <li>Teléfono: 976 713 728.</li>
    </ul>

    <h2>Procedimiento de aplicación</h2>
    <p>El procedimiento de reclamación recogido en el artículo 13 del Real Decreto 1112/2018, de 7 de septiembre, entrará en vigor el 20 de septiembre de 2020.</p>

    <h2>Acciones de mejora de la accesibilidad</h2>
    <p>El Gobierno de Aragón quiere mejorar la accesibilidad del portal más allá del nivel de exigido por el Real Decreto 1112/2018, por ello se han dado los siguientes pasos:</p>
    <ol>
      <li>
        <h3>Cumplimiento de requisitos de accesibilidad de nivel AAA</h3>
        <p>Actualmente cumplen con el nivel AAA de la <a href="http://administracionelectronica.gob.es/PAe/accesibilidad/une-en-301549-2019.pdf">norma UNE-EN 301549 (PDF, 2,21 MB)</a> las siguientes páginas del portal:</p>
        <ul>
          <li><a href="#">Home</a>.</li>
          <li><a href="#">Actualidad</a>.</li>
          <li><a href="#">Buscador</a>.</li>
          <li>Páginas de Temas, Subtemas y Organismos.</li>
        </ul>
        <p>La paleta de colores utilizada cumple con el nivel AAA.</p>
      </li>
      <li>
        <h3>Inclusión de la tecnología Texto a voz</h3>
        <p>La herramienta de código abierto "text to speech" permite escuchar el contenido del portal o descargarlo en formato .mp3.</p>
        <p>Puede acceder a esta funcionalidad en las páginas interiores del portal mediante el icono situado antes del contenido.</p>
      </li>
      <li>
        <h3>Selección de estilos visuales</h3>
        <p>La programación del portal se ha realizado utilizando hojas de estilo (CSS). Si el navegador o dispositivo de navegación no soporta hojas de estilo, la página web sigue siendo legible gracias a su marcación estructural.</p>
        <p>En la cabecera de las páginas puede aumentar o disminuir el tamaño de letra mediante las siguientes opciones:</p>
        <ul>
          <li>[icono de la web A+]: disminuye el tamaño del texto.</li>
          <li>[icono de la web A-]: aumenta el tamaño del texto.</li>
        </ul>
      </li>
      <li>
        <h3>Visualización Responsive</h3>
        <p>El portal ha sido diseñado para su óptima visualización en los dispositivos tablet y móvil.</p>
      </li>
    </ol>




  </div>

{% endblock %}