{% set title = "Plantilla logueado con selector de app y sidebar. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}

{% block sidebarBlock %}
  <div class="pb-lg"></div>
  <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "#datos-generales",
        "text": "Datos generales",
        "sub": {
          "items": [
            {
              "href": "#denominacion",
              "text": "Denominación"
            },
            {
              "href": "#descripcion",
              "text": "Descripción"
            },
            {
              "href": "#organos-o-unidades-gestoras",
              "text": "Órganos o unidades gestoras"
            },
            {
              "href": "#categorias",
              "text": "Categorías"
            },
            {
              "href": "#etiquetas-libres",
              "text": "Etiquetas libres"
            }
          ]
        }
      },
      {
        "text": "Normativa general",
        "href": "#normativa-general"
      },
      {
        "href": "#caracteristicas-generales-de-tramitacion",
        "text": "Características generales de tramitación",
        "sub": {
          "items": [
            {
              "href": "#grupos-de-destinatarios",
              "text": "Grupos de destinatarios"
            },
            {
              "href": "#destinatarios",
              "text": "Destinatarios"
            },
            {
              "href": "#requisitos-generales",
              "text": "Requisitos generales"
            },
            {
              "href": "#canales-de-informacion",
              "text": "Canales de información"
            },
            {
              "href": "#tramites-principales",
              "text": "Trámites principales"
            },
            {
              "href": "#resolucion",
              "text": "Resolución"
            }
          ]
        }
      }
    ],
    "attributes": {
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endblock %}

{% block headerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Titulo de app</h1>
  <p class="c-paragraph-base mb-lg">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit.
  </p>
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h2 id="datos-generales" class="c-h2 c-anchor-scroll">Datos generales (h2)</h2>
  <h3 id="denominacion" class="c-anchor-scroll c-h3">Denominación (h3)</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  {% include "includes/_abrir-notificaciones.njk" %}
  <div class="pb-xl"></div>
  <h3 id="descripcion" class="c-anchor-scroll c-h3">Descripción</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="organos-o-unidades-gestoras" class="c-anchor-scroll c-h3">Órganos o unidades gestoras</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="categorias" class="c-anchor-scroll c-h3">Categorías</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="etiquetas-libres" class="c-anchor-scroll c-h3">Etiquetas libres</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <hr class="border-neutral-base my-2xl">
  <h2 id="normativa-general" class="c-h1 c-anchor-scroll">Normativa general</h2>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <hr class="border-neutral-base my-2xl">
  <h2 id="caracteristicas-generales-de-tramitacion" class="c-h1 c-anchor-scroll">Características generales de tramitación</h2>
  <h3 id="grupos-de-destinatarios" class="c-anchor-scroll c-h3">Grupos de destinatarios</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="destinatarios" class="c-anchor-scroll c-h3">Destinatarios</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="requisitos-generales" class="c-anchor-scroll c-h3">Requisitos generales</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="canales-de-informacion" class="c-anchor-scroll c-h3">Canales de información</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="tramites-principales" class="c-anchor-scroll c-h3">Trámites principales</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="resolucion" class="c-anchor-scroll c-h3">Resolución</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
{% endblock %}