{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}

<div class="{%- if params.classes %} {{ params.classes }}{% endif %} mb-base border border-neutral-base rounded" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="sm:flex-1 font-bold text-2xl leading-tight mb-xs">{{ params.idNumber }} - {{ params.html | safe if params.html else params.text }}</h3>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
        {% if params.status.type == 'publicado' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-base"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Publicado{% endif %}</span>
        {% elseif params.status.type == 'en-borrador' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-neutral-light border-2 border-neutral-dark"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}En borrador{% endif %}</span>
        {% elseif params.status.type == 'en-validacion' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}En validación{% endif %}</span>
        {% elseif params.status.type == 'para-publicar' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase"><span class="bg-warning-base">{% if params.status.text %}{{ params.status.text }}{% else %}Para publicar{% endif %}</span></span>
        {% elseif params.status.type == 'borrador-rechazado' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Borrador rechazado{% endif %}</span>
        {% elseif params.status.type == 'suspendido' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Suspendido{% endif %}</span>
        {% elseif params.status.type == 'baja' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-black"></span>
          <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Dado de baja{% endif %}</span>
        {% endif %}
        <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">{{ params.statusDateText }}</span>
        {% if params.link %}
          <a href="{{ params.link.url }}" class="c-link ml-base pl-sm lg:pl-0">{{ params.link.html | safe if params.link.html else params.link.text }}</a>
        {% endif %}
      </p>
      <div class="flex lg:items-start mt-base lg:mt-0 lg:ml-auto lg:pl-base">
        {% if caller %}
        {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
        {% elseif params.caller %}
        {{ params.caller | safe }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if params.changes %}
    <div class="lg:flex lg:flex-wrap lg:w-full px-lg py-base {%- if params.changes.type == 'sin-enviar-a-publicar' %} bg-warning-light{%- elseif params.changes.type == 'pendientes-de-publicar' %} bg-neutral-light{% else %} bg-warning-base{% endif %}">
      <div class="flex flex-wrap items-center text-sm font-bold {%- if params.changes.type == 'para-publicar' %} uppercase{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
        <span class="flex-1">
          {% if params.changes.type == 'sin-enviar-a-publicar' %}
            Existen cambios sin enviar a publicar
          {% elseif params.changes.type == 'pendientes-de-publicar' %}
            Cambios pendientes de publicar
          {% elseif params.changes.type == 'para-publicar' %}
            CAMBIOS PARA PUBLICAR
          {% endif %}
        </span>
      </div>
      <a href="{{ params.changes.url }}" class="c-link flex pl-base ml-sm lg:ml-auto text-sm">Ver cambios</a>
    </div>
  {% else %}
    <hr class="border-neutral-base">
  {% endif %}
  <div class="px-lg py-base">
    {{ componentDescriptionList(params.items)  }}
  </div>
  {% if params.listItems %}
    <hr class="border-neutral-base">
    <div class="p-lg">
      <p class="c-paragraph-sm text-neutral-dark">Convocatorias y procesos asociados</p>
      {% for item in params.listItems %}
        <div class="lg:flex lg:flex-wrap lg:justify-between lg:w-full group lg:hover:bg-neutral-light p-xs {% if item.changes.type == 'sin-enviar-a-publicar' %} bg-warning-light{% elseif item.changes.type == 'pendientes-de-publicar' %} bg-neutral-light{% elseif item.changes.type == 'para-publicar' %} bg-warning-base{% endif %}">
          <p class="flex flex-wrap items-start lg:items-center text-sm">
            {% if item.status == 'publicado' %}
              <span class="inline-block w-2 h-7 mr-sm bg-success-base"></span>
            {% elseif item.status == 'en-borrador' %}
              <span class="inline-block w-2 h-7 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>
            {% elseif item.status == 'en-validacion' %}
              <span class="inline-block w-2 h-7 mr-sm bg-warning-base"></span>
            {% elseif item.status == 'para-publicar' %}
              <span class="inline-block w-2 h-7 mr-sm bg-warning-base"></span>
            {% elseif item.status == 'borrador-rechazado' %}
              <span class="inline-block w-2 h-7 mr-sm bg-alert-light border-2 border-alert-base"></span>
            {% elseif item.status == 'suspendido' %}
              <span class="inline-block w-2 h-7 mr-sm bg-alert-dark"></span>
            {% elseif item.status == 'baja' %}
              <span class="inline-block w-2 h-7 mr-sm bg-black"></span>
            {% endif %}
            <span class="flex-1 mt-xs lg:mt-0">{{ item.text }}</span>
            <span class="w-full lg:w-auto ml-sm pl-sm lg:border-l lg:border-neutral-base">
              <span {%- if item.status == 'para-publicar' %} class="bg-warning-base uppercase"{% endif %}>{{ item.secondaryText }}</span>
            </span>
            {% if item.changes %}
              {% if item.changes.type == 'sin-enviar-a-publicar' %}
                <span class="w-full lg:w-auto ml-sm pl-sm font-bold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-baseline w-3 h-3 mr-xs" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
                  Cambios sin enviar a publicar
                </span>
              {% elseif item.changes.type == 'pendientes-de-publicar' %}
                <span class="w-full lg:w-auto ml-sm pl-sm font-bold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-baseline w-3 h-3 mr-xs" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
                  Cambios pendientes de publicar
                </span>
              {% elseif item.changes.type == 'para-publicar' %}
                <span class="w-full lg:w-auto ml-sm pl-sm font-bold uppercase">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-baseline w-3 h-3 mr-xs" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
                  Cambios para publicar
                </span>
            {% endif %}
          {% endif %}
          </p>
          <div class="flex items-center lg:ml-auto pl-base lg:sr-only lg:group-hover:not-sr-only">
            {% if item.detailsUrl %}
              <a href="{{ item.detailsUrl }}" class="c-link inline-flex lg:ml-auto text-sm">Ver detalles</a>
            {% endif %}
            {% if item.editUrl %}
              <a href="{{ item.editUrl }}" class="c-link inline-flex ml-base text-sm">Editar</a>
            {% endif %}
            {% if item.changesUrl %}
              <a href="{{ item.changesUrl }}" class="c-link inline-flex ml-base text-sm">Ver cambios</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>